# Python Pandas Tutorial: A Complete Introduction for Beginners

## 1.0 Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`. 

A `Series` is essentially a column, and a `DataFrame` is a multi-dimensional table made up of a collection of Series. 

<img src="series-and-dataframe.png" width=600px />

DataFrames and Series are quite similar in that many operations that you can do with one, you can do with the other- such as filling in null values and calculating the mean.

You'll see how these components work when we start working with data below.

Before we get started, we have to load the python library, Pandas into our ipython notebook.

This is done using the following command:

In [1]:
import pandas as pd

### Creating DataFrames from scratch
Creating DataFrames directly in Python is good to know, and quite useful when testing new methods and functions you find in the pandas docs.

There are *many* ways to create a DataFrame from scratch, but a great option is to just use a simple `dict`. 

Let's say we have a fruit stand that sells apples and oranges. We want to have a column for each fruit and a row for each customer purchase. To organize this as a dictionary for pandas we could do something like:

In [2]:
fruit = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

And then pass it to the pandas DataFrame constructor:

In [3]:
purchases = pd.DataFrame(fruit)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

**How did that work?**

Each *(key, value)* item in `data` corresponds to a *column* in the resulting DataFrame.

> the keys in this example are "apples" and "oranges", the values in this example are the numbers that go along with each key

The **Index** of this DataFrame was numbered automatically, but we can also create our own when we initialize the DataFrame. 

Let's have customer names as our index:

In [4]:
purchases = pd.DataFrame(fruit, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

So now we could **loc**ate a customer's order by using their name:

In [5]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

If we want to be more specific, we could locate a customer's order and the specific item ordered:

In [6]:
purchases.loc['June']['apples']

3

**Summary**

The customer *June* purchased 3 apples and 0 oranges

This may seem basic now, but imagine having more than 10,000 rows of data. This would bog down excel, whereas Pandas would be able to handle it like a champ

## Exercise

**Try on your own**

1. Create a dataframe of the top four countries in the infographic below. Include the income and income tax.

2. Make the index the data on each country (e.g. net income, income tax, and social security contributions)

3. Locate the income and income tax for "Iceland"

<img src="world_income.jpeg" width=600px />

## Hint: 

To each exercise, navigate with your mouse to the "insert" tab, then click "insert cell below". 

This will insert a new cell that you can start typing in! 

I've started the first one for you - you have to add two more countries to the dictionary in the cell below. 

* Important - pay attention to commas, brackets, colons -- they are all necessary!

In [7]:
# add the next two countries, using the same style as below:

countries = {
    'Switzerland': [58864, 16.9, 6.2], 
    'Luxembourg': [46593, 29.1, 12.3],
    'Iceland': [45390, 28.7, 6.2], 
    'Korea': [46593, 29.1, 12.3],
}

In [ ]:
sandwiches = pd.DataFrame(countries)

sandwiches

In [ ]:
sandwiches = pd.DataFrame(countries, index=['Net income', 'income tax', 'SSN'])

sandwiches

_____________________________________________________

## 2.0 How to read in data

It’s quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time it's coming from various files.

In [ ]:
df = pd.read_csv('purchases.csv')

df

Notice the "header" has "Unnamed: 0" - This is because CSVs don't have indexes like our DataFrames, so all we need to do is just designate the `index_col` when reading:

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

df

### Converting back to a CSV

If you make changes to your dataframe, you may want to save your work. Similar to the ways we read in data, pandas provides intuitive commands to save it:

In [ ]:
df.to_csv('new_purchases.csv')

You can check that the new file has been saved using the `ls` command, which will list all the files in the directory "files"

In [ ]:
ls new*

__________________________________________

## 3.0 Using Pandas with Real World Data (Movie Catalogue Application)

Let's move on to importing some real-world data and detailing a few of the most useful operations.


### 3.1 Most important DataFrame operations

DataFrames possess hundreds of methods and other operations that are crucial to any analysis. 

As a beginner, you should know the operations that perform simple transformations of your data and those that provide fundamental statistical analysis.

Let's load in the IMDB movies dataset to begin:

In [ ]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

movies_df.head()

Note a few things here: 

> We're loading this dataset from a CSV and designating the movie titles to be our index.

> We use the `df.head()` command to load the first 5 rows of the dataset

`.head()` outputs the **first** five rows of your DataFrame by default, but we could also pass a number as well: `movies_df.head(10)` would output the top ten rows, for example. 

To see the **last** five rows use `.tail()`. `tail()` also accepts a number, and in this case we printing the bottom two rows.:

In [ ]:
movies_df.tail(2)

## Exercise

**Try on your own**

1. Locate the 100th ranked movie, what is the title?

### 3.2 Getting info about your data

`.shape` is a simple tuple of format (rows, columns). 

So we have **1000 rows** and **11 columns** in our movies DataFrame.

`.shape` is very useful when cleaning and transforming data. For example, you might filter some rows based on some criteria and then want to know quickly how many rows were removed.

In [ ]:
movies_df.shape

### What if there are duplicates in my dataframe?

Sometimes, you are working with messy data, where there may be duplicates and you want to remove these rows in order to get more acurate statistics

The movie dataset does not have any duplicates, you can figure this out with the following command:

In [ ]:
temp_df = movies_df.drop_duplicates()
temp_df.shape

Here, I made a new dataframe *temp_df* in which I set equal to the *movies_df* dataframe, but I used the command `drop_duplicates()` which tells pandas to look for any duplicate rows and remove them. 

You can see that there are no duplicate rows in the original dataframe, because when I type `temp_df.shape` it retains the same number of colums and rows as the original.

Now let's create a scenario where we **do** have duplicates, by copying the original movie dataframe twice:

In [ ]:
temp_df = pd.concat([movies_df, movies_df], ignore_index=True)

temp_df.shape

Note:

> Using `concat()` will return a copy without affecting the original DataFrame 

> We don't change our original dataset *movies_df* because we are creating a new dataframe, *temp_df*

> Notice call `.shape` quickly proves our DataFrame rows have doubled.

Now we try dropping duplicates on your own:

## Exercise

**Try on your own**

2. Remove the duplicates from the new *temp_df*
3. Verify that you have removed the duplicates

### 3.3 Working with Columns

Many times datasets will have verbose column names with symbols, upper and lowercase words, spaces, and typos. 

To make selecting data by column name easier we can spend a little time cleaning up their names.

Here's how to print the column names of our dataset:

In [ ]:
movies_df.columns

Let's try renaming some of the columns

We can use the `.rename()` method to rename certain or all columns via a `dict`. 

We don't want parentheses, so let's rename those:

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

Excellent. But what if we want to lowercase all names? Instead of using `.rename()` we could also set a list of names to the columns like so:

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

But that's too much work. Instead of just renaming each column manually we can do a list comprehension:

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

In the above example, we created our first code in pandas to transform our data, lets break it down:
    
> We used a list, which is given by the two brackets *[...]*

> We used a *for* loop, that looped over all columns (called *col*) in the original DataFrame

> For each *col* that we loop over, we changed it to lower case using `col.lower()`

`list` (and `dict`) comprehensions come in handy a lot when working with pandas and data in general.

It's a good idea to lowercase, remove special characters, and replace spaces with underscores if you'll be working with a dataset for some time.

## Exercise

**Try on your own**

4. Can you figure out how to change each column to upper case?

NOTE: make sure to change it back to lowercase once you figured it out!

### 3.4 Understanding your DataFrame variables

In [ ]:
movies_df['genre'].describe()

This tells us that the genre column has 207 unique values, the top value is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

`.value_counts()` can tell us the frequency of all values in a column:

In [ ]:
movies_df['genre'].value_counts().head(10)

## Exercise

**Try on your own**

5. What year produced the most movies?

### 3.5 Simple DataFrame Statistics & Plotting

#### Relationships between continuous variables

By using the correlation method `.corr()` we can generate the relationship between each continuous variable. But first we have to only select the columns with numerical values - no words! 

We create a list called "cols" and give it the columns that have numbers in them:

In [ ]:
cols = ['year','runtime','rating','votes','revenue_millions','metascore']

movies_df[cols].corr()

Correlation tables are a numerical representation of the bivariate relationships in the dataset. 

Positive numbers indicate a positive correlation — one goes up the other goes up — and negative numbers represent an inverse correlation — one goes up the other goes down. 1.0 indicates a perfect correlation. 

> So looking in the first row, first column we see `rank` has a perfect correlation with itself, which is obvious. 

> On the other hand, the correlation between `votes` and `revenue_millions` is 0.6. A little more interesting.

-

Understanding your data comes in handy when thinking about the type of plot to use to represent your data visually. 

`.describe()` can be used to get the count of rows, unique count of categories, top category, and freq of top category:

In [ ]:
movies_df['rating'].describe()

Let's try plotting our data to visually inspect the relationships:

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 12, 'figure.figsize': (5, 3)}) # set font and plot size to be larger

**Side note:**

For *categorical variables* utilize Bar Charts* and Boxplots.  

For *continuous variables* utilize Histograms, Scatterplots, Line graphs, and Boxplots.

Let's plot the relationship between **ratings** and **revenue**. 

All we need to do is call `.plot()` on `movies_df` with some info about how to construct the plot:

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

If we want to plot a simple Histogram based on a single column, we can call plot on a column:

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

Using a Boxplot we can visualize this data:

In [ ]:
movies_df['rating'].plot(kind="box");

<figure>
<img src="https://i1.wp.com/flowingdata.com/wp-content/uploads/2008/02/box-plot-explained.gif" />
    <figcaption>Source: *Flowing Data*</figcaption>
</figure>

## Exercise

**Try on your own**

6. Plot a boxplot for revenues across all movies

### 3.6 Manipulating DataFrames

#### DataFrame slicing, selecting, extracting

Up until now we've focused on some basic summaries of our data. We've learned about simple column extraction using single brackets, and we done simple statistics and plotting. 

Below are the other methods of slicing, selecting, and extracting you'll need to use constantly. 

Let's look at working with columns first.

##### Extracting data by column

Extract a column using square brackets like this:

In [ ]:
genre_col = movies_df['genre']

type(genre_col)

Note: 

> one column of a *DataFrame* is a *Series*

If you don't want a *Series*, you can extract a column as a *DataFrame* by passing a list of column names. 

In our case that's just a single column:

In [ ]:
genre_col = movies_df[['genre']]

type(genre_col)

You can extract two columns from the original dataframe like this:

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

##### Extracting data by rows

For rows, we have two options: 

- `.loc` - **loc**ates by name
- `.iloc`- **loc**ates by numerical **i**ndex

Remember that we are still indexed by movie Title, so to use `.loc` we give it the Title of a movie:

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

On the other hand, with `iloc` we give it the numerical index of Prometheus:

In [ ]:
prom = movies_df.iloc[1]

`loc` and `iloc` can be thought of as similar to Python `list` slicing. To show this even further, let's select multiple rows.

How would you do it with a list? 

In Python, just slice with brackets like `example_list[1:4]`. It's works the same way in pandas:

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset = movies_df.iloc[1:4]

movie_subset

## Exercise

**Try on your own**

7. Select a subset of movies where the numerical indices are between 20-25, what is the title of the last movie in this subset?

#### Conditional selections

What if we want to make a conditional selection? 

For example, what if we want to filter our movies DataFrame to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0?

To do that, we take a column from the DataFrame and apply a Boolean condition to it. Here's an example of a Boolean condition:

In [ ]:
condition = movies_df[movies_df['director'] == "Ridley Scott"]

condition.head()

Here we created a new DataFrame called *condition* and out of all 1,000 movies, these 5 have Ridley Scott as the director

You can get used to looking at these conditionals by reading it like: 

> Select movies_df where movies_df director equals Ridley Scott

Let's look at conditional selections using numerical values by filtering the DataFrame by ratings:

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

We create a `list` of directors that we want to include in our subset, and then we only select the rows where that condition applies

Let's say we want all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

Here's how we could do all of that:

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

## Exercise

**Try on your own**

8. Find the subset of movies that were made in 2006
9. Find the subset of movies that have either Comedy or Drama as a genre
10. Find the subset of movies that have a rating over 8.0 and were made after 2010

#### Applying functions

We can use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.

First we would create a function that, when given a rating, determines if it's good or bad:

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

Now we want to send the entire rating column through this function, which is what `apply()` does:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

The `.apply()` method passes every value in the `rating` column through the `rating_function` and then returns a new Series. This Series is then assigned to a new column called `rating_category`.

By combining categorical and continuous data, we can create a Boxplot of revenue that is grouped by the Rating Category we created above:

In [ ]:
plt.rcParams.update({'font.size': 12, 'figure.figsize': (8, 5)}) # set font and plot size to be larger
movies_df.boxplot(column='revenue_millions', by='rating_category');

## Additional Exercises

**Try on your own**

11. Make a function that categorizes movies based on "old" and "new" (anything before 2008 is considered old)
12. Plot this year_category using a box plot grouped by and describe what you see

________________________________________

# You just finished your first CHEM430 data exploration exercise! 

Give yourself some well deserved praise!

________________________________________

## On your own - OPTIONAL 

If you enjoyed this workflow, you can install this software locally on your personal labtop. 
There are great instructions for installing on most MAC OS. PCs are definitely more tricky.

As a resource, here are the following most up to date installation instructions for MAC OS. 

As an instructor, I cannot offer guidence past this point. Thank you for understanding.

### Install and import
Pandas is an easy package to install. It can be installed with either PC or Mac environments. 
Here, we will walk you through installing in MacOS environment using Anaconda. 

>Instructions are valid as of June 2022, for MacOS version Big Sur.

The *pandas* package is the most important tool at the disposal of Data Scientists and Analysts working in Python today. The powerful machine learning and glamorous visualization tools may get all the attention, but pandas is the backbone of most data projects. 

>\[*pandas*\] is derived from the term "**pan**el **da**ta", an econometrics term for data sets that include observations over multiple time periods for the same individuals. — [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)

Think of pandas as the python version of Excel! 

Parts of this tutorial were adapted from a similar tutorial from the git repo: LearnDataSci

Use magnifier to find "terminal"

Type:

`cd ~/Downloads`

Then:

`curl -O https://repo.anaconda.com/archive/Anaconda3-2021.05-MacOSX-x86_64.sh`

Then: 

`bash ./Anaconda3-2021.05-MacOSX-x86_64.sh`

Then:

`yes` to accept the license terms and agreement

Then: 

`yes` for the installer to initialize Anaconda3

To verify the installation, type:

`python --version`

To make sure you are using the latest version of conda, type:

`conda update --all --yes`

To run jupyter notebook, type:

`jupyter notebook`

It is common to import pandas (i.e. use it inside the jupyter notebook) as "pd" for brevity.

This can be done by running:

import pandas as pd

___________________

This workflow was adapted from https://github.com/LearnDataSci/